html {
  scroll-behavior: smooth;
  cursor: cell;
}

body {
  background-color: #090c08;
  color: #efeeef;
  font-family: "Monument";
}

@font-face {
  font-family: Monument;
  src: url("/assets/fonts/MonumentExtended-Regular.otf");
}

@font-face {
  font-family: "Monument Bold";
  src: url("/assets/fonts/MonumentExtended-Ultrabold.otf");
}

section {
  width: 80vw;
  margin: 0 auto;
  border: 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hello,
#about,
#projects {
  height: 80vh;
  display: flex;
  flex-direction: column;
}

/* general list and link styles */
ul {
  list-style: none;
  padding-left: 0px;
}

ul li a {
  color: #efeeef;
  font-size: 1.5em;
  margin: 1em;
}

/* accent spans */
#hello span,
.project-container span {
  color: #2236f0;
}

/* Navbar styles */
nav {
  position: fixed;
  top: 50%;
  right: -5%;
  z-index: 1;
  transform: rotate(90deg);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav li a {
  text-transform: lowercase;
  color: #2236f0;
}

nav img {
  height: 1.2em;
}

/* Main content wrapper */
.wrapper {
  display: block;
  overflow-y: scroll;
}

/* Hello Section */
#hello {
  height: 100vh;
  text-transform: lowercase;
  font-size: 5em;
  align-items: flex-start;
}

#hello h1 {
  letter-spacing: 0.2em;
}

#hello p {
  text-align: left;
  margin: 0;
  font-size: 0.5em;
}

/* About section */
#about {
  width: 70vh;
  font-size: 1.5em;
  text-align: justify;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

#about a,
#about a:visited {
  color: #efeeef;
}

/* Projects section */
.project-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project-container {
  margin: 2em;
  padding: 2em 4em 2em 4em;
  border: 1px solid #2236f0;
}

#projects h1 {
  font-size: 3em;
}

.project-container img {
  max-height: 25em;
  width: auto;
  margin-bottom: 1em;
  filter: grayscale(100%);
}

.project-container img:hover {
  filter: none;
}

#projects h3 {
  line-height: 2em;
}

#projects a {
  color: #efeeef;
}

#projects span {
  list-height: 2em;
  font-size: 1.5em;
  color: #2236f0;
}

/* footer styles */
footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

/* laptop breakpoint */
@media screen and (max-width: 2560px) {

  html {
    font-size: 11px;
  }

  #hello,
  #projects h1 {
    font-size: 3.5vw;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
  }

  #projects {
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
  }
}

/* tablet */
@media screen and (max-width: 1024px){

  nav {
    right: -10%;
  }

  #hello p {
    font-size: 0.4em;
  }

  #about {
    width: 60vw;
  }
}

/* phone */
@media screen and (min-width: 375px) and  (max-width: 850px){

  nav {
    display: none;
  }

  html {
    font-size: 10px;
  }

  #hello h1 {
    font-size: 5.5vw;
  }

  #hello p {
    font-size: 4vw;
  }

  .project-container {
    margin: 0.5em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 1px solid #2236f0;
  }

  .project-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
